.feed-header {
    flex: content;
    position: sticky;
    border-bottom: 1px solid rgb(236, 235, 235);
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

button:hover{
    background-color: lightgray;
}

button{
    padding: 20px;
    border: none;
    background-color: white;
}
